main{
  background-color: chartreuse;
  width: 100%;
  height: 60vh;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-areas: "List Detail Summary";
}

.List{
  grid-area: List;
  background-color: aqua;
}

.Detail{
  grid-area: Detail;
  background-color: red;
}

.Summary{
  grid-area: Summary;
  background-color: cadetblue;
}
