.App {
  text-align: center;
  display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
            "HeaderContainer"
            "BodyContainer"
            "FooterContainer";
}


